/* import loading css */
@import './loading.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

html,
body,
label {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.form-insurance .ant-collapse-header {
  align-items: center !important;
}

.form-insurance-body .ant-popover-arrow::before {
  background-color: #f8f8f9 !important;
}

.form-insurance-body .ant-popover-inner {
  background-color: #f8f8f9 !important;
}

.card-blog .description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-blog .content p {
  margin-bottom: 10px;
}

.card-blog .content p:last-child {
  margin-bottom: 0;
}

.card-blog .content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.tabs-setting .ant-tabs-nav-wrap {
  padding: 0 24px;
}
.tabs-setting .ant-tabs-tab {
  border-radius: 2px 2px 0px 0px !important;
  border: 1px solid #e3e4e7 !important;
  border-bottom: none !important;
  padding: 9px 24px !important;
}

.tabs-setting .ant-tabs-tab .ant-tabs-tab-btn {
  color: #6c6f7b !important;
}

.tabs-setting .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2b59ff !important;
}

@media only screen and (min-width: 64em) {
  .card-blog .description {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

/* .ant-checkbox-wrapper {
  display: block;

} */
#scrolled::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#scrolled::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f8f8f9;
  border-radius: 10px;
}

/* Handle */
#scrolled::-webkit-scrollbar-thumb {
  background: #c7c9ce;
  border-radius: 10px;
}

/* Handle on hover */
#scrolled::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
#scrolled .CodeMirror-vscrollbar {
  margin: 2px;
}

#create_hospital label {
  @apply text-base font-bold text-arsenic;
}

.ant-modal-footer button {
  @apply h-full px-10 py-3 text-base font-bold;
}

.ant-modal-footer .ant-btn-default {
  @apply text-nickel;
}
.ant-modal-footer .ant-btn-primary {
  @apply text-ghost-white;
  margin-inline-start: 24px !important;
}

.ant-table-wrapper .ant-table .ant-table-cell {
  @apply text-center text-base text-nickel;
}

.ant-modal-close {
  height: 32px !important;
  width: 32px !important;
}

.ant-modal-close .ant-modal-close-x {
  @apply flex items-center justify-center;
}

.commas {
  display: inline;
}
.commas ~ .commas::before {
  content: ', ';
}
.commas::first-letter {
  text-transform: uppercase;
}
.insurance-form .ant-tabs-content-holder {
  @apply px-6;
}

.assessment-form .ant-form-item {
  margin-bottom: 0 !important;
}

.assessment-form
  .ant-collapse-large
  > .ant-collapse-item
  > .ant-collapse-header {
  padding: 16px 24px 16px 46px;
}
.assessment-form .ant-collapse-header-text {
  flex: 1;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.collapse-auto-insurance .ant-collapse-header {
  padding: 16px !important;
  align-items: center !important;
}

.collapse-auto-insurance .ant-collapse-expand-icon {
  padding-left: 24px;
}

.collapse-auto-insurance .ant-collapse-content {
  border: 0;
}

.collapse-auto-insurance .ant-collapse-content-box {
  padding-top: 8px !important;
}

.appraisal-details-modal .ant-modal-content {
  padding: 24px 32px !important;
}

.appraisal-details-modal .ant-tabs-tab {
  padding-top: 0 !important;
  padding-bottom: 16px !important;
}

.appraisal-details-modal .ant-tabs-nav-wrap {
  justify-content: flex-end !important;
}

.appraisal-details-modal .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  text-shadow: none;
  color: #2b59ff;
}

.appraisal-details-modal .ant-tabs-tab-btn {
  color: #8f929d;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.appraisal-details-modal .tab-underline-hidden .ant-tabs-ink-bar {
  display: hidden !important;
  height: 0 !important;
}

.car_insurance_preview .ant-tabs-nav-list {
  flex: 1 !important;
}

.car_insurance_preview .ant-tabs-nav-operations {
  display: none !important;
}

.car_insurance_preview .ant-tabs-nav-list > div {
  flex: 1 !important;
  justify-content: center !important;
}

.car_insurance_preview .ant-tabs-nav {
  margin-bottom: 24px !important;
}

.car_insurance_preview .ant-tabs-tab-btn {
  color: #8f929d !important;
}

.car_insurance_preview .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #404249 !important;
}

.ant-menu-submenu .ant-menu-submenu-title button {
  @apply text-white;
}

.ant-menu-submenu .ant-menu-item-selected {
  background-color: #010c17 !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  background-color: #2b59ff !important;
}

.ant-menu-submenu .ant-menu-submenu-title:hover button,
.ant-menu-submenu .ant-menu-submenu-title:hover i {
  color: #008dff !important;
}

.ant-menu-submenu-selected .ant-menu-submenu-title:hover button,
.ant-menu-submenu-selected .ant-menu-submenu-title:hover i {
  color: white !important;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: fit-content !important;
}

.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: transparent !important;
}

.card-blog .ant-modal-content {
  padding: 50px 32px !important;
}

.card-blog .ant-modal-content .ant-modal-close {
  top: 10px;
  inset-inline-end: 10px;
}

.ant-segmented {
  @apply p-1;
}

.ant-segmented .ant-segmented-group {
  @apply flex items-center gap-1;
}

.ant-segmented .ant-segmented-item {
  @apply text-spanish-gray transition-colors;
  transition: #b6d9fd 1.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, text-decoration-color, fill, stroke;
}

.ant-segmented .ant-segmented-item:hover {
  @apply bg-fresh-air;
}

.ant-segmented .ant-segmented-item-selected {
  @apply bg-fresh-air text-ultramarine-blue;
}

.ant-segmented .ant-segmented-thumb {
  @apply bg-fresh-air;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-segmented
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  ) {
  @apply text-ultramarine-blue;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-segmented
  .ant-segmented-item:hover:not(.ant-segmented-item-selected):not(
    .ant-segmented-item-disabled
  )::after {
  @apply bg-transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #4b4b4b;
  font-size: 16px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
